<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.context.name" value="pallas-console" />
	<property name="log.directory" value="${PALLAS_LOG_DIR:-/apps/logs/log_receiver}/${PALLAS_CONSOLE_DOMAIN:-${log.context.name}}" />
	<property name="log.charset" value="UTF-8" />
	<property name="log.maxHistory" value="20" />
	<property name="log.maxFileSize" value="1GB" />
	<property name="log.pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{50}] >>> %msg%n" />
	<property name="process.log.pattern" value="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] [%logger{50}] >>> %msg%n" />
	<property name="log.error.log.level" value="WARN" />
	<property name="log.async.queue.size" value="1024" />

	<contextName>${log.context.name}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder charset="${log.charset}">
			<pattern>${log.pattern}</pattern>
		</encoder>
	</appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
