/*element全局样式修改*/

/*面包屑相关*/
.el-breadcrumb__item__inner, .el-breadcrumb__item__inner a {
    color: #97a8be;
}
.el-breadcrumb__item__inner:hover, .el-breadcrumb__item__inner a:hover {
    color: #97a8be;
}
.el-breadcrumb__item:last-child .el-breadcrumb__item__inner, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner a:hover, .el-breadcrumb__item:last-child .el-breadcrumb__item__inner:hover {
    color: #fff;
}

.el-breadcrumb__item__inner, .el-breadcrumb__item__inner a {
    color: #fff;
}
/*表单相关*/
.el-form-item__label {
    color: #fff;
}

.el-input__inner {
    background-color: #434749;
    color: #eceeef;
    border: 1px solid #4d4e50;
}

.el-input__inner:focus {
    outline: 0;
    border-color: #eee;
}

.el-input.is-disabled .el-input__inner {
    background-color: gray;
    border-color: #4d4e50;
}

.el-textarea__inner {
    color: #eceeef;
    border: 1px solid #4d4e50;
}

.el-textarea__inner:focus {
    outline: 0;
    border-color: #eee;
}

.el-cascader-menu, .el-textarea__inner {
    background-color: #434749;
}

.el-input-number__decrease, .el-input-number__increase {
    top: 10px;
}

.el-input-number__decrease:hover, .el-input-number__increase:hover {
    color: #fff;
}

.el-input-number__decrease:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled), .el-input-number__increase:hover:not(.is-disabled)~.el-input .el-input__inner:not(.is-disabled) {
    border-color: #fff;
}

/*select相关*/
.el-select-dropdown {
    background-color: #434749;
}

.el-select-dropdown__item {
    color: #eceeef;
}

.el-select .el-input__inner:focus {
    border-color: #eee;
}

.el-select-dropdown__item.selected {
    color: #fff;
    background-color: gray;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected.hover, .el-select-dropdown__item.hover {
    background-color: gray;
}

.el-select-dropdown__item.selected.hover {
    background-color: gray;
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
    color: #eee;
    background-color: #333;
}

/*表格相关*/
.el-table{
    border: 1px solid gray;
    color: gray;
    background-color: #373a3c;
}

.el-table__fixed-header-wrapper thead div, .el-table__header-wrapper thead div {
    color: #fff;
    background-color: #373a3c;
}

.el-table th {
    background-color: #373a3c;
}

.el-table tr {
    background-color: transparent;
}

.el-table__empty-block {
    height: initial;
}

.el-table .cell, .el-table th>div {
    padding-left: 6px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-overflow: ellipsis;
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #323232;
    background-clip: padding-box;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
    background-color: #222; 
    background-clip: padding-box;
}

.el-table--enable-row-transition .el-table__body td {
    color: #eee;
    background-color: transparent;
    text-align: center;
}

.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid gray;
}

.el-table--border td, .el-table--border th {
    border-right: none;
    text-align: center;
}
.el-table::after, .el-table::before {
    content: '';
    position: absolute;
    background-color: transparent;
    z-index: 1;
}

.el-table-filter {
    background-color: #373a3c;
}

.el-table-filter__bottom button.is-disabled:hover {
    color: #bfcbd9;
}

.el-table-filter__bottom button:hover {
    color: #fff;
}

.el-table__expanded-cell:hover {
    background-color: #373a3c!important;
}

.el-table__body tr.current-row>td {
    background: #222;
}

/*分页相关*/
.el-pagination {
    padding: 2px 0;
}

.el-pagination .btn-next, .el-pagination .btn-prev {
    background: center center no-repeat transparent;
    border: 1px solid gray;
    color: gray;
}

.el-pagination button, .el-pagination span {
    color: #eee;
}

.el-pagination button:hover {
    color: #fff;
}

.el-pager li {
    padding: 0 4px;
    color: gray;
    border-right: 0;
    background-color:transparent;
    font-size: 13px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}

.el-pager li:last-child {
    border-right: 1px solid gray;
}

.el-pager li.active {
    border-color: gray;
    background-color:transparent;
}

.el-pager li.active+li {
    border-left: 1px solid gray;
}

.el-pager li:hover {
    color: #fff;
}

.el-autocomplete-suggestion__wrap, .el-pager li {
    border: 1px solid gray;
}

.el-pagination button.disabled {
    color: rgba(151, 168, 190, 0.28); 
    background-color: rgba(128, 128, 128, 0.52);
    cursor: not-allowed;
}

.el-pagination__editor {
    border: 1px solid gray;
    background-color: transparent;
    color: #eee;
}

.el-pagination__editor:focus {
    border-color: gray;
}

/*弹框相关*/
.el-dialog__title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.el-dialog--small { 
 width: auto;
  min-width: 500px;
}

.el-dialog {
    top: 20%;
    background: #373a3c;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #434749;
}

.el-dialog__header {
    padding: 10px 0px 10px 5px;
    border-bottom: 1px solid #434749;
}

.el-dialog__body {
    padding:0px;
    padding-top:10px;
}

.el-dialog__footer {
    padding: 10px 20px 5px;
    text-align: right;
    box-sizing: border-box;
    border-top: 1px solid #434749;
}

.el-dialog__headerbtn .el-dialog__close:hover {
    color: #fff;
}

/*tab相关*/
.el-tabs--border-card {
    background: transparent;
    border: none;
}

.el-tabs__nav-wrap {
    margin-bottom: 0px;
}

.el-tabs__header {
    border-bottom: 1px solid gray;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item {
    border: none;
}

.el-tabs--border-card>.el-tabs__content {
    background-color: #373a3c;
}

.el-tabs--border-card>.el-tabs__header {
    background-color: #333;
}

.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active {
    background-color: gray;
}

.el-tabs__item.is-active {
    color: #fff;
}

.el-tabs__active-bar {
    background-color: gray;
}

.el-tabs__item:hover {
    color: #fff;
}

.el-tabs__item.is-disabled:hover {
    color: #bbb;
    cursor: not-allowed; 
}

/*tree相关*/
.el-tree {
    background: #373a3c;
    color: #fff;
    border: 1px solid gray;
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
    background-color: #222;
    color: #fff;
}

.el-tree-node__content:hover {
    background: #333;
    color: #fff;
}

/*messagebox相关*/
.el-message-box {
    background-color: #373a3c;
    word-wrap: break-word;
}

.el-message-box__title {
    color: #fff;
}

.el-message-box__close {
    color: #dcdcdc;
}

.el-message-box__content {
    color: #fff;
}

/*upload相关*/
.el-upload-list__item-name {
    color: #fff;
}

.el-upload-list__item .el-icon-close {
    color: #fff;
}

.el-upload-list__item:hover {
    background-color:#222;
}

/*button相关*/
.el-button--primary {
    color: #fff;
    background-color: transparent;
    border-color: gray;
}

.el-button--primary:focus, .el-button--primary:hover {
    color: #eee;
    background-color: transparent;
    border-color: #eee;
}

.el-button--default {
    color: #fff;
    background-color: transparent;
    border-color: gray;
}

.el-button--default:focus, .el-button--default:hover {
    color: #eee;
    background-color: transparent;
    border-color: #eee;
}

.el-button--confirm,.el-message-box__btns .el-button--primary {
    color: #fff;
    background-color: transparent;
    border-color: yellow;
}

.el-button--confirm:focus, .el-button--confirm:hover {
    color: #eee;
    background-color: transparent;
    border-color: #eee;
}

.el-button--text {
    color: #eee;
}

.el-button--text:focus, .el-button--text:hover {
    color: #97a8be;
}

/*navMenu相关*/
.el-menu--horizontal .el-submenu .el-menu-item {
    background-color: #373a3c;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item, .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title {
    color: #fff;
}

.el-menu--horizontal .el-submenu>.el-menu {
    background-color: #373a3c;
    border: none;
}

.el-menu-item.is-active {
    color: #fff;
    border-bottom: 5px solid gray;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item.is-active {
    background-color: #222;
    color: #fff;
    border-bottom: none;
}

.el-menu--horizontal>.el-menu-item:hover, .el-menu--horizontal>.el-submenu.is-active .el-submenu__title, .el-menu--horizontal>.el-submenu:hover .el-submenu__title {
    border-bottom: 5px solid gray;
}

.el-menu--horizontal.el-menu--dark .el-menu-item:hover, .el-menu--horizontal.el-menu--dark .el-submenu__title:hover {
    background-color: #222;
}

.el-menu--horizontal.el-menu--dark .el-submenu .el-menu-item:hover, .el-menu--horizontal.el-menu--dark .el-submenu .el-submenu-title:hover, .el-menu-item:hover {
    background-color: #222;
    color: #fff;
}

/*dateTimePicker相关*/
.el-picker-panel {
    color: #eee;
    background: #373a3c;
}

.el-date-table td.next-month, .el-date-table td.prev-month {
    color: initial;
}

.el-date-table td {
    color: #fff;
}

.el-date-table td.today:before {
    border-top: .5em solid #13ce66;
}

.el-date-table td.today {
    color: #13ce66;
}

.el-date-table td.available:hover {
    background-color: #333;
}

.el-date-table td.in-range {
    background-color: #333;
}

.el-date-table td.in-range:hover {
    background-color: #282828;
}

.el-date-table td.current:not(.disabled), .el-date-table td.end-date, .el-date-table td.start-date {
    background-color: #222!important;
    color: #fff;
}

.el-picker-panel__footer {
    background-color: #373a3c;
}

.el-picker-panel__link-btn {
    color: #eee;
}

.el-picker-panel__btn[disabled] {
    color: #aaa;
}

.el-picker-panel__btn {
    color: #eee;
}

.el-picker-panel__icon-btn:hover {
    color: #fff;
}

.el-time-panel {
    background-color: #373a3c;
}

.el-time-panel__content::after, .el-time-panel__content::before {
    background-color: #222;
}

.el-time-spinner__item:hover:not(.disabled):not(.active) {
    background: #2e2e2e;
}

.el-time-panel__btn.confirm {
    color: #fff;
}

/*checkbox相关*/
.el-checkbox {
    color: #eee;
}

.el-checkbox__input.is-disabled .el-checkbox__inner {
    background-color: gray;
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background-color: gray;
}

/*transfer相关*/
.el-checkbox-button__inner, .el-transfer-panel {
    background: #373a3c;
}

.el-transfer-panel {
    border: 1px solid #808080;
}

.el-transfer-panel .el-transfer-panel__header {
    background: #373a3c;
    color: #eee;
    border-bottom: 1px solid #808080;
}

.el-transfer-panel__item.el-checkbox {
    color: #eee;
}

.el-transfer-panel__item:hover {
    background-color: #222;
}

.el-transfer-panel .el-transfer-panel__footer {
    background: #373a3c;
    border-top: 1px solid #808080;
}

.el-transfer-panel .el-transfer-panel__footer .el-checkbox {
    color: #eee;
}

.el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover {
    background-color: gray;
}

/*折叠面板样式*/
.el-collapse {
    border: 1px solid #434749;
}

.el-collapse-item__header {
    background-color: #373a3c;
    color: #fff;
    border-bottom: 1px solid #434749;
}

.el-collapse-item__wrap {
    background-color: #373a3c;
    border-bottom: 1px solid #434749;
}

.el-collapse-item__content {
    color: #fff;
}

/* tag标签样式 */
.el-tag--primary {
    background-color: rgba(0,0,0,.4);
    border-color: rgba(0,0,0,.2);
    color: #eee;
}

.el-tag--primary .el-tag__close:hover {
    background-color: gray;
}

.el-tag--primary.is-hit {
    border-color: #eee;
}

/* tooltip样式 */
.el-tooltip__popper.is-dark {
    background: #333;
}

.el-tooltip__popper[x-placement^=top] .popper__arrow {
    border-top-color: #333;
}

.el-tooltip__popper[x-placement^=top] .popper__arrow::after {
    border-top-color: #333;
}

.el-tooltip__popper[x-placement^=right] .popper__arrow {
    border-right-color: #333;
}

.el-tooltip__popper[x-placement^=right] .popper__arrow::after {
    border-right-color: #333;
}

.el-tooltip__popper[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #333;
}

.el-tooltip__popper[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #333;
}

.el-tooltip__popper[x-placement^=left] .popper__arrow {
    border-left-color: #333;
}

.el-tooltip__popper[x-placement^=left] .popper__arrow::after {
    border-left-color: #333;
}

/* popover样式 */
.el-popover {
    background: #333;
    border: none;
    min-width: initial;
}

.el-popover[x-placement^=right] .popper__arrow {
    border-right-color: #333;
}

.el-popover[x-placement^=right] .popper__arrow::after {
    border-right-color: #333;
}

.el-popover[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #333;
}

.el-popover[x-placement^=bottom] .popper__arrow::after {
    border-bottom-color: #333;
}

.el-popover[x-placement^=top] .popper__arrow {
    border-top-color: #333;
}

.el-popover[x-placement^=top] .popper__arrow::after {
    border-top-color: #333;
}

.el-popover[x-placement^=left] .popper__arrow {
    border-left-color: #333;
}

.el-popover[x-placement^=left] .popper__arrow::after {
    border-left-color: #333;
}

/* 下拉样式 */
.el-dropdown {
    color: #eee;
}

.el-autocomplete-suggestion.is-loading li:hover, .el-dropdown-menu {
    background-color: #373a3c;
}

.el-dropdown-menu {
    border: none;
}

.el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: #333;
    color: #eee;
}


.el-checkbox__input.is-checked .el-checkbox__inner {
    background-color: #333;
    border-color: #eee;
}

.el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: #eee;
}

.el-checkbox__inner:hover {
    border-color: gray;
}

.el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background-color: #333;
    border-color: #eee;
}

/* radio样式 */
.el-radio {
    color: #fff;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner {
    background-color: #32cd32;
    border-color: #32cd32;
    box-shadow: -1px 0 0 0 #32cd32;
}

.el-radio-button__inner:hover {
    color: #32cd32;
}

/* scrollbar */
.v-scrollbar::-webkit-scrollbar,
.el-dialog__wrapper::-webkit-scrollbar,
.el-table__body-wrapper::-webkit-scrollbar,
.el-textarea__inner::-webkit-scrollbar,
.el-tree::-webkit-scrollbar,
.el-message-box__message::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    border-radius: 8px;
}
.v-scrollbar::-webkit-scrollbar, .el-dialog__wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(255,255,255,.5);
}
.el-table__body-wrapper::-webkit-scrollbar-thumb, .el-textarea__inner::-webkit-scrollbar-thumb, .el-message-box__message::-webkit-scrollbar-thumb, .el-tree::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(144,147,153,.5);
}
.v-scrollbar::-webkit-scrollbar,
.el-dialog__wrapper::-webkit-scrollbar-button,
.el-table__body-wrapper::-webkit-scrollbar-button,
.el-textarea__inner::-webkit-scrollbar-button,
.el-tree::-webkit-scrollbar-button,
.el-message-box__message::-webkit-scrollbar-button {
    display: none;
}

/* loading */
.el-loading-mask {
    background-color: rgba(69,69,69,.9);
}

.el-loading-spinner .el-loading-text {
    color: #bfcbd9;
}

.el-loading-spinner .path {
    stroke: #bfcbd9;
}

.el-dropdown-menu__item--divided:before {
    height: 0;
}