<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:spring-beans-4.1.xsd
    http://www.springframework.org/schema/context classpath:spring-context-4.1.xsd">

	<context:component-scan base-package="com.vip.pallas">
		<context:exclude-filter type="regex" expression="com\.vip\.pallas\.test\..*"/>
	</context:component-scan>
</beans>